@charset "UTP-8";
/* CSS Document */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  background-color:aquamarines;
}
.column{
  width:300px;
  height:200px;
  float:left;
  margin: 0 5px;
  background-color:aquamarines;
}
